.container {
  width: 100%;

  margin-top: 15px;
  padding: 15px;

  border: #333 solid 2px;
}

.content {
  display: flex;
}
.img {
  margin-right: 60px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
}
